body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.list-group-item{
  color: blue !important;
}

navbar{
   
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Customize the background color as needed */
  z-index: 100; /* Ensure the navbar is on top of other elements */

}

.contents_wrapper{
  margin-top: 100px !important;
}



